.customoverlay {
  border: 1px solid black;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
  position: relative;
  bottom: 85px;
  float: left;
}

.customoverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}

/*화살표*/
.customoverlay:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: -12px;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}

.customoverlay a {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  background: #d95050;
}
.title {
  text-decoration: none;
  color: black;
}

.customoverlay .title {
  display: block;
  text-align: center;
  background: #fff;
  margin-right: 35px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
}

.customoverlay .number {
  display: block;
  padding: 10px 15px;
  text-align: center;
  position: absolute;
  right: 0px;
  bottom: 0;
  color: white;
}
/* 
.number {
  display: inline-block;
  transform: rotate(135deg);
  background-color: #337ffe;

  width: 50px;
  height: 50px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.order {
  z-index: 10;
  position: relative;
  color: white;
} */
