# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

#API KEY
.env
.env.development
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.firebase
# Local Netlify folder
.netlify
